.toolbar {
    position: relative;
    z-index: 5;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.example-spacer {
    flex: 1 1 auto;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.04em;
    color: #333333;
    margin-bottom: 40px;
    margin-top: 40px;
}

.select-ticker {
    margin-top: 40px;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 8px;

    background: #FFFFFF;

    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.reload-icon {
    margin-top: 40px;
    color: #828282;

    float: right;
}


.header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.04em;
    color: #828282;
}

table {
    width: 100%;
}

.mat-elevation-z8 {
    border-radius: 8px;
    overflow: hidden !important;
}


td.mat-column-star {
    width: 20px;
    padding-right: 8px !important;
}

.mat-row {
    &:hover {
        background-color: #e9f3ff;
    }

    a {
        color: #3e75ff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}


.coin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;

    width: 72px;
    height: 72px;

    margin: 16px 0px 16px 32px;

    background: #F4C23B;
    border-radius: 99px;

}

.item-table {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #333333;
}

.ticker-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #333333;
}

.badge-pct-change {
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 12px;
    gap: 10px;
    width: 60px;
    height: 37px;
    border-radius: 8px;
}

.primary {
    background: #F4C23B;
}

.secondary {
    background: #E0E0E0;
}

.text-pct-change {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #333333;
}

@media (max-width: 575px) {
    .icon-spacing {
        max-width: 16.666667%;
        flex: 0 0 16.666667%;
    }

    .coin-spacing {
        max-width: 83.333333%;
        flex: 0 0 83.333333%;
    }

    .select-ticker {
        margin-top: 0px;
        margin-bottom: 24px;
    }
}



@media screen and (max-width: 768px) {
    .mat-elevation-z8 {
        background: transparent;
        box-shadow: none;
    }

    .mat-header-row {
        display: none;
    }

    tbody {
        display: block;
        width: 100%;
    }

    .mat-table {
        background: transparent;

        * {
            box-sizing: border-box;
        }

        .mat-row {
            display: block;
            overflow: hidden;
            height: auto;
            position: relative;
            clear: both;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
            background-color: #fff;
            border-radius: 3px;

            +.mat-row {
                margin-top: 24px;
            }
        }

        .mat-cell {
            display: block;
            width: 100%;
            padding: 0 16px;
            margin: 16px 0;
            border: 0 none;

            &:first-child {
                padding: 0 48px 0 16px;

                a {
                    font-size: 20px;
                    // font-weight: 400;
                    color: inherit;
                }

                &:before {
                    display: none;
                }
            }

            &.m-card-sub-title {
                margin-top: -8px;
                padding: 0 48px 0 16px;
                color: rgba(0, 0, 0, .54);
            }
        }

        .has_label_on_mobile {
            &:before {
                content: attr(data-label);
                display: inline;
                font-weight: normal;
            }
        }

        .mat-column-star {
            width: auto;
            padding: 8px 0 0 !important;
            margin: 0;
            position: absolute;
            top: 0;
            right: 0;

            &:before {
                display: none;
            }
        }
    }

    .mat-paginator {
        margin-top: 24px;
    }

}