<div class="container-fluid">
  <br/>
  <label class="title">Moedas</label>
  <div class="row no-gutter">
    <div class="col-md-4">
      <app-custom-card></app-custom-card>
    </div>
    <div class="col-md-4">
      <app-custom-card></app-custom-card>
    </div>
    <div class="col-md-4">
      <app-custom-card></app-custom-card>
    </div>
  </div>
</div>
<script>
  eventTarget.addEventListener("keydown", event => {
    if (event.isComposing || event.keyCode === 17) {
    }
    // do something
  });
</script>