.toolbar {
    position: relative;
    z-index: 5;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.example-spacer {
    flex: 1 1 auto;
}

.title {
    /* H3 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.04em;
    /* Gray 1 */
    color: #333333;
    margin-bottom: 40px;
    margin-top: 40px;
}

.select-ticker {
    margin-top: 40px;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 8px;

    /* Branco */
    background: #FFFFFF;

    /* Gray 5 */
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

.reload-icon {
    margin-top: 40px;
    color: #828282;
}