<app-toolbar></app-toolbar>
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-6 d-none d-md-flex bg-image"></div>
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <div class="text-center">
                                <h3 class="title-login">Olá! Bem vindo de volta.</h3>
                                <p class="text-muted mb-4 subtitle-login">
                                    Faça login com seus dados inseridos durante o seu registro.
                                </p>
                            </div>
                            <form role="form" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                                <div class="form-group mb-3">
                                    <label for="username" class="label-custom-input ">Usuário</label>
                                    <input id="username" type="username" placeholder="Digite seu nome de usuário"
                                        required="" formControlName="username" autofocus=""
                                        class="form-control border-0 shadow-sm px-4 custom-input">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="password" class="label-custom-input ">Senha</label>
                                    <input id="password" type="password" placeholder="Sua senha" required=""
                                        formControlName="password"
                                        class="form-control border-0 shadow-sm px-4 text-primary custom-input">
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input id="customCheck1" formControlName="rememberMe" type="checkbox" checked
                                        class="custom-control-input">
                                    <label for="customCheck1" class="custom-control-label">Esqueceu a senha</label>
                                </div>
                                <button type="submit" [disabled]="!loginForm.valid"
                                    class="btn btn-block text-uppercase mb-2 shadow-sm btn-login">
                                    <span class="title-button">Login</span>
                                </button>
                                <hr />
                                <button type="button" class="btn btn-block text-uppercase mb-2 shadow-sm btn-registro"
                                    (click)="goToRegister()">
                                    <span class="title-button">Registro</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>