<mat-card class="example-card">
  <mat-card-content class="content-card">
    <div class="row">
      <div class="col-9">
        <mat-card-title class="title-card">BRL / USD</mat-card-title>
      </div>
      <div class="col-3">
        <span mat-card-sm-avatar class="icon-symbol">
          <i class="fa fa-dollar"></i>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="currency">
          R$
        </span>
        <span class="value">3722,90</span>
      </div>
    </div>

    <p class="description">Dolar turismo</p>
  </mat-card-content>
</mat-card>