.example-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.content-card {
    width: 100%;
}

.icon-symbol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    float: right;
    width: 64px;
    height: 64px;
    background: #F4C23B;
    border-radius: 99px;
}


.title-card {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #333333;
}

.currency {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.04em;
    color: #828282;
    margin-top: 18px;
    margin-right: 8px;
}

.value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.04em;
    color: #333333;

}

.description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.04em;
    color: #828282;
    margin-top: 24px;
}

@media (max-width: 576px) {
    .example-card {
        margin-bottom: 16px;
    }

    .value {
        font-size: 48px;
    }
}

@media (min-width: 576px) {
    .example-card {
        margin-bottom: 16px;
    }

}

@media (min-width: 768px) {
    .example-card {
        margin-bottom: 0px;
    }

    .value {
        font-size: 35px;
    }
}

@media (min-width: 992px) {
    .value {
        font-size: 48px;
    }
}