<div class="dropdown">
  <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button" aria-expanded="true">{{lang}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a (click)="setLang('pt')" class="text-capitalize language-text" translate>PORTUGUESE</a></li>
    <li><a (click)="setLang('en')" class="text-capitalize language-text" translate>ENGLISH</a></li>
    <li><a (click)="setLang('es')" class="text-capitalize language-text" translate>SPANISH</a></li>
  </ul>
</div>